.pageContainer {
  padding: var(--spacing-4);
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.detailsPlaceholder {
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-5) var(--spacing-4);
  box-shadow: var(--box-shadow-google);
  text-align: center;
  color: var(--color-text-medium);
  border: 2px dashed var(--color-border-light);
}
